.abuse-section {
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding: 45px 10vw;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.abuse-section img {
    width: 45%;
}

.abuse-container {
  width: 80%;
}

.abuse-section h2 {
  width: 80%;
  font-weight: 700;
  font-family: var(--headline-font);
  font-size: 2.5rem;
  color: var(--highlight-yellow);
  margin: auto;
  margin-bottom: 1rem;
}

.subheading {
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--light-text);
  margin-bottom: 1rem;
}

.abuse-points {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.abuse-points li {
  font-family: var(--body-font);
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid var(--accent-orange);
  font-size: 1.27rem;
  text-align: left;
  color: rgb(210, 210, 210);
}

.abuse-points li strong {
  color: var(--highlight-yellow);
  font-size: 1.4rem;
}

.closing-message {
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--light-text);
  margin-bottom: 1.5rem;
}

.cta-button {
  line-height: 1.15;
}

.cta-button:hover {
  background-color: var(--accent-orange);
}




@media (max-width: 1150px) {
.abuse-section {
  padding: 45px 10vw 55px;
}

.abuse-section img {
    width: 70%;
}

.abuse-container {
  width: 100%;
}

.abuse-section h2 {
  width: 80%;
  font-size: 2.1rem;
}

.closing-message {
  margin-bottom: 1rem;
}
}




@media (max-width: 685px) {
.abuse-section {
  padding: 45px 0vw;
}

.abuse-section img {
    width: 100%;
}

.abuse-container {
  width: 100%;
  padding: 0 8vw;
}

.abuse-section h2 {
  width: 100%;
  font-size: 1.9rem;
}
}