.stories-page {
  background-color: var(--light-text);
  color: var(--light-text);
  padding: 120px 10vw 55px;
  font-family: var(--body-font);
}

.stories-title {
  font-family: var(--headline-font);
  font-size: 2.5rem;
  text-align: center;
  color: var(--accent-orange);
  margin-bottom: 3rem;
}

.stories-grid {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.story-card {
  background-color: rgb(222, 222, 222);
  border-left: 5px solid var(--dark-bg);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.story-card:hover {
  transform: translateY(-5px);
}

.emoji {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.6rem;
}

.story-card h3 {
  font-family: var(--body-font);
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  color: var(--dark-bg);
}

.story-card p {
  font-size: 1.35rem;
  color: var(--dark-bg);
  font-family: var(--body-font);
}



@media (max-width: 1150px) {
.stories-page {
  padding: 110px 10vw 55px;
}

.stories-title {
  font-size: 2.1rem;
  margin-bottom: 2.5rem;
}

}



@media (max-width: 685px) {
.stories-page {
  padding: 90px 5vw 55px;
}

.stories-title {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

}